.sub-mt8{margin:8px 0;}
.sub-m0{margin:0 !important;}
.sub-radio{width:auto !important;box-shadow:none !important;}
.sub-m0 img{padding:0 8px ;}
.view-detail-plan{font-weight: 600;color: #5F5F5F;font-family: arial;padding-left: 15px !important;}
.view-detail-plan-wrapper{padding:15px 0 20px;}
.mb10{margin-bottom: 10px !important;}
.error_msg{color:red}
