em{
    color:red;
}
.widget-background{
    /*background: #FAFAFA;*/
}

.widget-background .widget-header{
    color: #585858;
    
}

.widget-background label,.widget-background input{ font-size: 13px;}
.panel-width-50{width:50%;padding:5px;float:left;}
.panel-width-50 select{width:50%;height:30px;}
.row-all{width:100%; float:left;}

/*----------------------------Margin-Top----------------*/
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.flash-row p{display:inline-block;}